@using Microsoft.AspNetCore.Identity
@inject UserManager<BloodBankUser> _userManager

@{
    ViewData["Title"] = "Pre Register";
}

    <style>
        .radio-button-class {
            transform: scale(1.2);
            position: relative;
            top: 6%;
            left: 5%;
        }

        .preregister-row {
            margin-top: 4%;
            margin-bottom: 4%;
        }
    </style>

    <div class="price-sty position-relative mb-5">
        <h3 class="tittle text-center text-bl mb-2">Donor Register</h3>
        <span class="text-style-bot font-weight-bold">D</span>
    </div>

    <!-- Material inline 1 -->
    <div class="row preregister-row">
        <h4>Are you 17 – 65 years old?</h4>
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline1Yes" name="inlineMaterialRadiosExample1">
            <label class="form-check-label" for="materialInline1">Yes</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline1No" name="inlineMaterialRadiosExample1">
            <label class="form-check-label" for="materialInline2">No</label>
        </div>
    </div>

    <div class="row preregister-row">
        <h4>Do you currently weigh less than 50kg (7 stone 12 pounds)?</h4>
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline2Yes" name="inlineMaterialRadiosExample2">
            <label class="form-check-label" for="materialInline1">Yes</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline2No" name="inlineMaterialRadiosExample2">
            <label class="form-check-label" for="materialInline2">No</label>
        </div>
    </div>

    <div class="row preregister-row">
        <h4>Have you had a blood or blood product transfusion since 1st January 1980?</h4>
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline3Yes" name="inlineMaterialRadiosExample3">
            <label class="form-check-label" for="materialInline1">Yes</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline3No" name="inlineMaterialRadiosExample3">
            <label class="form-check-label" for="materialInline2">No</label>
        </div>
    </div>

    <div class="row preregister-row">
        <h4>Have you received donated eggs or embryos since 1st January 1980?</h4>
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline4Yes" name="inlineMaterialRadiosExample4">
            <label class="form-check-label" for="materialInline1">Yes</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline4No" name="inlineMaterialRadiosExample4">
            <label class="form-check-label" for="materialInline2">No</label>
        </div>
    </div>

    <div class="row preregister-row">
        <h4>Have you ever had a cancer other than basal cell carcinoma or cervical carcinoma insitu (CIN)?</h4>
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline5Yes" name="inlineMaterialRadiosExample5">
            <label class="form-check-label" for="materialInline1">Yes</label>
        </div>

        <!-- Material inline 2 -->
        <div class="form-check form-check-inline radio-button-class">
            <input type="radio" class="form-check-input" id="materialInline5No" name="inlineMaterialRadiosExample5">
            <label class="form-check-label" for="materialInline2">No</label>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="PositiveModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">You are eligible!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thanks for your application to be a blood donor!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="DonorRegisterToIndex" asp-route-isdonor="1">Go to Home Page</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="NegativeModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thank you.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Based on the answers you provided, we advise that you do not register to be a blood donor.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="DonorRegisterToIndex" asp-route-isdonor="0">Go to Home Page</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row preregister-row">
        <button type="submit" id="ContinueButton" class="btn mr-2">Continue</button>
    </div>

    <script>
    $(document).ready(function () {
        $('#ContinueButton').click(function () {
            if ($('#materialInline1Yes').is(':checked') && $('#materialInline2No').is(':checked')
                && $('#materialInline3Yes').is(':checked') && $('#materialInline4No').is(':checked')
                && $('#materialInline5No').is(':checked')) {
                $('#PositiveModalCenter').modal();
            }
            else {
                $('#NegativeModalCenter').modal();
            }
        });
    });
    </script>
