@{
    ViewData["Title"] = "Home Page";
}

<!-- about -->
<section class="about py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <div class="row py-xl-5">
            <div class="col-lg-5 pr-xl-4">
                <p class="css-typing sub-title-top text-bl mb-3">Welcome To Blood Bank Website!</p>
                <h3 class="title-w3-ab">
                    Dedicated to <span class="clr-th">saving lives</span>
                </h3>
            </div>
            <div class="col-lg-6 offset-lg-1 pr-lg-4 mt-lg-0 mt-4 about-right-mo">
                <p>
                    Our mission is to save and enhance the lives of others
                    As an essential part of the NHS we take pride in playing our part to make the most of absolutely every donation - from blood and organs to tissues and stem cells.
                    </p>
                <p class="mt-4">
                    With the support of our amazing donors, we give a lifeline to thousands of people every year.
                    But there is always more to do. Which is why we continually strive to improve the safety, availability, quality and efficiency of our services.
                </p>
                <a href="#" class="btn button-style-3">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
