@model BloodBank.Models.Post

@{
    ViewData["Title"] = "Create";
}

<div class="price-sty position-relative mb-5">
    <h3 class="tittle text-center text-bl mb-2">Create Post</h3>
    <span class="text-style-bot font-weight-bold">C</span>
</div>

<div class="col-lg-7 contctf_mail_grid_right">
    <h3 class="sub-w3ls-headf">Create a new Blood Post.</h3>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Title</label>
                <input class="form-control" type="text" asp-for="Title" placeholder="Name" required="">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label>City</label>
                <select asp-for="City" class="custom-select">
                    <option value="İstanbul">İstanbul</option>
                    <option value="Ankara">Ankara</option>
                    <option value="İzmir">İzmir</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Blood Type</label>
                <select asp-for="BloodType" class="custom-select">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="0+">0+</option>
                    <option value="0-">0-</option>
                </select>
            </div>
            <div class="col-sm-6 form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="custom-select">
                    <option value="Normal">Normal</option>
                    <option value="Urgent">Urgent</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <textarea placeholder="Your description here..." asp-for="Description" class="form-control" required=""></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn mr-2">Create</button>
        <button type="reset" class="btn">Clear</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
