@model BloodBank.Models.Donation

@{
    ViewData["Title"] = "Create";
}

<div class="price-sty position-relative mb-5">
    <h3 class="tittle text-center text-bl mb-2">Make Donation</h3>
    <span class="text-style-bot font-weight-bold">D</span>
</div>

<div class="col-lg-7 contctf_mail_grid_right">
    <h3 class="sub-w3ls-headf">Make a Donation.</h3>
    <form asp-action="Create" id="DonationForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Amount (TL)</label>
                <input class="form-control" type="text" asp-for="Amount" placeholder="Name" required="">
                <span id="AmountValidation" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label class="control-label">Name on Card</label>
                <input asp-for="NameOnCard" id="NameOnCard" class="form-control" />
                <span id="NameOnCardValidation" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label class="control-label">Credit Card Number</label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span id="CreditCardValidation" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label class="control-label">Expire Date Month</label>
                <select asp-for="ExpireDateMonth" class="custom-select">
                    <option value="">Month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <span asp-validation-for="ExpireDateMonth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Expire Date Year</label>
            <select asp-for="ExpireDateYear" class="custom-select">
                <option value="">Year</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
                <option value="26">2026</option>
                <option value="27">2027</option>
                <option value="28">2028</option>
                <option value="29">2029</option>
            </select>
            <span asp-validation-for="ExpireDateYear" class="text-danger"></span>
        </div>
        <button type="reset" class="btn">Clear</button>
        @(await Component.InvokeAsync("PaymentSuccessful"))
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}